/* General Styling */
body {
    background-color: #558773;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Header, nav, footer */
header, main, nav, footer { 

    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 1.8em;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

/* Main Content */
main {
    display: flex;
    justify-content: center;
    
}
table{
    margin: 0px auto;
}
td{
    padding-right: 10px;
    font-size: 1.3em;
}
td strong{
    color: orange;
}
#table-header{
    background-color: #351a00;
}
.table-row{
    background-color: #753900;
}
ul{
    width: 500px;
    margin: 0px auto;
    text-align: left;
}
.hobby{
    color: yellow;
}
/* Footer */
footer {
    background-color: #558773;
    padding: 20px 0;
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 1em;
    color: black;
}

